#features
  margin: 30px 0
  background: rgb(91,117,247)
  background: linear-gradient(90deg, rgba(91,117,247,1) 0%, rgba(162,78,247,1) 100%)
  background-size: cover
  height: 400px
  color: white
  text-align: center
  h1
    color: white
    font-weight: lighter
    font-family: inherit
    font-size: 45px
    margin: 50px 0


.cards
  margin-top: 50px
  display: grid
  grid-template-columns: repeat(4, auto)
  grid-gap: 100px
  


h3
  color: white


.feature-card


  p
    font-size: 15px
