
#reader
  margin-top: 70px
  @media only screen and (max-width: 680px)
    margin-top: -20px



.readerLayout
  display: flex
  align-items: center
  justify-content: center

  @media only screen and (max-width: 680px)
    display: block
    padding-left: 125px
    padding-right: 150px


.read
  padding-left: 150px

  @media only screen and (max-width: 680px)
    margin-left: -60px


  p
    font-size: 16px

  h2
    font-weight: lighter
    font-family: inherit
    margin-bottom: 20px
    font-size: 55px

#reader1
  margin-top: 70px


.readerLayout1
  display: flex
  align-items: center
  justify-content: center

  @media only screen and (max-width: 680px)
    display: block
    padding-left: 50px
    padding-right: 150px


.read1
  padding-left: 150px

  @media only screen and (max-width: 680px)
    margin-right: 60px
    margin-left: 15px

  p
    font-size: 16px

  h2
    font-weight: lighter
    font-family: inherit
    margin-bottom: 20px
    font-size: 55px
